table{
    border-color: black;
    width: 400px;
    height: 300px;
    scale: inherit;
    border-collapse: collapse;
    padding-left: 500px;
}

th{
    background-color:rosybrown;
    border: 2px solid black;
    text-align: left;
}

td{
    background-color:mistyrose;
    border: 2px solid black;
    padding: 10px;
    text-align: left;
}

.table-set{
    margin: 0 30px;
    border: 1px solid black;

}
.main-image{
    width: 1500PX;
    height: 300PX;
}

.sub-imsge{
    width: 200PX;
    height: 200PX;
}

iframe{
    width: 400px;
    height: 350px;
    display: flex;
}

.last-text1{
    width: 1500PX; display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 100PX;
    color: white;
    background-color: #110a0a
}

.hedar {
    right: inherit;
}