

nav ul li a{

    display: compact;
    color: #ffffff;

}
body{
    margin: 0;
    width: 1500px;

}

nav ul li a:hover {
    /*display: inline-block;*/
    /*padding: 14px 60px;*/
    background-color:rosybrown;
}

table {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-color: black;
    width: 400px;
    border-collapse: collapse;
}

{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

th {
    border: 1px solid black;
    background-color: #ffffff;
}
td {
    border: 1px solid #00ffbb;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    text-align: left;
}
button{
    background-color: rgb(255, 255, 255);
}
body>header>section:nth-child(2)>nav>menu {
    list-style: none;
    margin: 0;
}

body>header>section:nth-child(2)>nav>menu>li>a {
    text-decoration: none;
    color: white;
    z-index: 2;
}

body>header>section:nth-child(2)>nav {
    position: absolute;
    top: 10px;
    right: 40px;
}

body>header>section:nth-child(2)>nav>menu>li {
    display: inline-block;
    padding-right: 10px;
    padding-left: 10px;
    font-family: 'Poppins', sans-serif;
}

body>header>section:nth-child(2)>nav>menu>li>a:hover {
    transition-duration: 0.2s;
    transition-property: color;
    color: #00ffbb;
}

body>header>section:nth-child(2)>nav>menu>li>a:active {}

body>header>section:nth-child(2)>nav>menu>li:last-of-type {
    padding-right: 4px;
}

body>header>section:nth-child(2)>div:nth-child(3) {
    visibility: hidden;
}


/*contact*/
.last-text {
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: rgb(153, 167, 168);
    font-weight: 300;
    margin-top: 70px;
}

/*image{*/
/*    background: 500px;*/
/*}*/

.top {
    position: fixed;
    bottom: 2.1rem;
    right: 2.1rem;
    margin-right: 3.5rem;

}
.top i {
    color: #000000;
    background: #8f8585;
    font-size: 20px;
    padding: 8px;
    border-radius: 0.5rem;
}

.contact {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 3rem;
    padding-left: 30px;
    margin-top: 130px;
}

.contact img {
    height: 300px;
    width: 300px;
    opacity: 0.2;
    border-radius: 50%;
}

.contact-text h2 {
    font-size: 90px;
    line-height: 1;
    text-align: left;
    color: #8f8585;
}

.contact-text h2 span {
    color: #ffffff;
}

.contact-text h4 {
    margin: 15px 0;
    color: rgb(228, 228, 228);
    font-size: 20px;
    font-weight: 30px;
    margin-bottom: 2rem;
}

.contact-text p {
    color: rgb(163, 163, 163);
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 2rem;
}

.contact-list {
    margin-bottom: 3rem;
    color: #8f8585;
    /* margin-left: 20px; */
}

.contact-list li {
    margin-bottom: 10px;
    display: block;
}

.contact-list i {
    display: inline-block;
    color: #99a7a8;
    font-size: 20px;
    font-weight: 600;
}

.contact-list li a:hover {
    color: #99a7a8;
}

.contact-icons i {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #99a7a8;
    border-radius: 50%;
    font-size: 20px;
    color: #99a7a8;
    text-decoration: none;
    margin: 30px 15px 30px 0;

}

.contact-icons i:hover {
    background: #99a7a8;
    color: #000000;
    box-shadow: 0 0 20px #8f8585;
}

.contact-form form {
    position: relative;
}

.contact-form form input,
form textarea {
    border: none;
    outline: none;
    width: 90%;
    padding: 18px;
    background: #555555;
    color: #ffffff;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    border-radius: 0.5rem;
}

.contact-form textarea {
    resize: none;
    height: 220px;
}

.contact-form form .send {
    display: inline-block;
    padding: 14px 60px;
    background: #99a7a8;
    border-radius: 40px;
    font-size: 18px;
    color: #070a0a;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    box-shadow: 0 0 5px rgb(7, 10, 10),
    0 0 25px #110a0a;
}

.contact-form form .send:hover {
    box-shadow: 0 0 5px #1f5e29,
    0 0 25px #110a0a, 0 0 50px #070a0a,
    0 0 100px #110a0a, 0 0 200px #110a0a;
}

h4{
    color: white;
}
body>h2{
    color: white;
    text-align: center;
}


/*home*/
/*baground color*/
body {
    overflow-x: hidden;
    background: #1e1e1e;
}
.main-image{
    width: 1500PX;
    height: 300PX;
    margin: 0 20px;
}

.header-1 {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background: #1e1e1e;
}

.head {
    width: 1200px;
    max-width: 95%;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    padding: 40px 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.logo {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.logo .logo-text {
    font-size: 34px;
    font-weight: 500;
    color: #fff;
    margin-top: 5px;

}

nav .New {
    width: 35px;
    height: 35px;
    position: absolute;
    top: 45px;
    right: 3%;
    z-index: 5;
    cursor: pointer;
    display: none;
}

nav .New span {
    display: block;
    background-color: #ffffff;
    margin: 5px 0px;
    width: 100%;
    height: 3px;
    transition: 0.3s;
    transition-property: transform, opacity;
}

nav .nav {
    list-style-type: none;
    font-size: 26px;
    margin-top: 5px;
}

nav .nav li {
    display: inline-block;
}

nav .nav li a {
    color: #e5e5e5;
    margin-right: 2.5rem;
}

nav .nav li a:hover {
    color: #110a0a;
}

@media screen and (max-width: 1400px){

    #start {
        width: 100vw;
    }
    .about-container {
        flex-wrap: wrap;
    }

    .section-p1,
    .sub-title {
        margin-left: 12%;
    }

    .section-pic-container {
        width: 100vw;
        display: flex;
        justify-content: center;
        margin-right: 10%;
    }

    #experience {
        height: 100vh;
    }

    #projects {
        height: 100vh;
        margin-top: 60vh;
    }
    #my_edu_quali{
        height: 100vh;
    }

}

/*set image*/

.card-line{
    display: flex;

}

.container{
    display: grid;
    /*grid-template-columns: 20% 20% 20% 20% 20%;*/
    grid-template-columns: repeat(4,1fr);
    flex-direction:row;
    gap: 10px;

}

.card{
    border-color: aliceblue;
    border-radius: 12px;
    border: 1px solid black;
    box-shadow: 3px 3px 3px 3px #ca55e3;
    padding: 10px;
    margin: 0 20px 10px 10px;

}
.card1{
    grid-column: 1/2;
    grid-row: 1/2;
}
.cack-details{

    display: flex;

}

.images{
    width: 200PX;
    height: 200PX;
    padding: 20px;

}

 li>a{
    /* underline ek ayinkrnn */
    text-decoration: none;
    color:white;

}

 /*set animation*/

#animated_section {
    width: 100%;
    height: 100vh;
    /* background-color: aliceblue; */
    z-index: 1;
    margin: auto;
    position: fixed;
    /* border: 2px solid red; */
    box-sizing: border-box;
}

.code {
    position: absolute;
    width: 150px;
    height: 40px;
    /* background-color: #00FF00; */
    text-align: right;
    color: white;
    display: inline-block;
    color: rgba(10, 98, 10, 0.89);
    text-shadow: 0 0 2px rgba(13, 217, 13, 0.89);
}

#code1 {
    animation-name: moveCode1;
    animation-duration: 50s;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    top: 0px;
}

#code2 {
    animation-name: moveCode2;
    animation-duration: 40s;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    top: 0px;
}

#code3 {
    animation-name: moveCode3;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    top: 0px;
}

#code4 {
    animation-name: moveCode4;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    bottom: -40px;
}

#code5 {
    animation-name: moveCode5;
    animation-duration: 40s;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    bottom: -40px;
}

#code6 {
    animation-name: moveCode6;
    animation-duration: 40s;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    /* bottom: -40px; */
}


@keyframes moveCode1 {
    0% {
        top: 0px;
        left: 0;
    }

    50% {
        top: calc(100% - 40px);
        left: 30%;
    }

    80% {
        text-shadow: 0 0 2px rgba(9, 236, 9, 0.89);
    }

    81% {
        text-shadow: 0 0 2px #0291ff39, 2px 2px 10px #0291ffb9;
    }

    82% {
        text-shadow: 0 0 2px rgba(15, 225, 15, 0.89);
    }

    100% {
        top: 90px;
        left: calc(100% - 150px);
    }
}

@keyframes moveCode2 {
    0% {
        top: 0px;
        left: calc(100% - 150px);
    }

    50% {
        top: calc(100% - 40px);
        left: 70%;
    }

    100% {
        top: 90px;
        left: 0;
    }
}

@keyframes moveCode3 {
    0% {
        top: 0px;
        left: calc(50% - 150px);
    }

    25% {
        top: calc(100% - 40px);
        left: 20%;
    }

    50% {
        top: 50%;
        left: 0;
    }

    75% {
        top: 90px;
        left: 60%;
    }

    100% {
        top: calc(100% - 40px);
        left: calc(100% - 150px);
    }
}

@keyframes moveCode3 {
    0% {
        top: 0px;
        left: calc(50% - 150px);
    }

    25% {
        top: calc(100% - 40px);
        left: 20%;
    }

    50% {
        top: 50%;
        left: 0;
    }

    75% {
        top: 90px;
        left: 60%;
    }

    100% {
        top: calc(100% - 40px);
        left: calc(100% - 150px);
    }
}

@keyframes moveCode4 {
    0% {
        top: calc(100% - 40px);
        left: calc(70% - 150px);
    }

    25% {
        top: calc(40% - 40px);
        left: calc(100% - 150px);
    }

    50% {
        top: 90px;
        left: 60%;
    }

    75% {
        top: 30%;
        left: 0;
    }

    100% {
        top: calc(100% - 40px);
        left: calc(100% - 150px);
    }
}

@keyframes moveCode5 {
    0% {
        top: calc(100% - 40px);
        left: calc(30% - 150px);
    }

    25% {
        top: calc(70% - 40px);
        left: 0;
    }

    50% {
        top: 90px;
        left: 60%;
    }

    75% {
        top: 30%;
        left: calc(100% - 150px);
    }

    100% {
        top: calc(100% - 40px);
        left: 0;
    }
}

@keyframes moveCode6 {
    0% {
        top: calc(30% - 40px);
        left: -150px;
    }

    25% {
        top: calc(80% - 40px);
        left: calc(100% - 150px);
    }

    50% {
        top: calc(100% - 40px);
        left: calc(60% - 40px);
    }

    75% {
        top: calc(50% - 40px);
        left: 0;
    }

    100% {
        top: 90px;
        left: calc(50% - 150px);
    }
}

/*set arrow-run up*/
.icon {
    cursor: pointer;
    height: 2rem;

}

.fa-solid {
    font-size: 2rem;
}

#about {
    position: relative;


}